openapi: 3.0.0
info:
  title: Orpheon Streaming API
  version: 2.0.0
  
servers:
  - url: https://orpheon.space/api/v2
    description: Production server
  - url: http://localhost:8080/api/v2
    description: Local development

paths:
  /tracks/{id}/audio:
    get:
      summary: Get audio chunk
      description: Get audio file chunk with range support
      tags:
        - tracks
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: Range
          in: header
          required: true
          schema:
            type: string
            example: "bytes=0-999"
          description: Range header for partial content request
      responses:
        '206':
          description: Partial content
          headers:
            Content-Type:
              schema:
                type: string
              example: "audio/mpeg"
            Content-Length:
              schema:
                type: string
            Content-Range:
              schema:
                type: string
            Accept-Ranges:
              schema:
                type: string
                example: "bytes"
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    post:
      summary: Upload audio file
      tags:
        - tracks
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                audio:
                  type: string
                  format: binary
                  description: Audio file (MP3, max 30MB)
      responses:
        '200':
          description: Audio file uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
    delete:
      summary: Delete audio file
      tags:
        - tracks
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Audio file deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  
  /tracks/{id}/stats:
    post:
      summary: Update track statistics
      tags:
        - tracks
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Statistics updated successfully
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
             